# I. Basic Data Structures
The basic data structures in Python include <b>tuple, list, string, dictionary</b>. The manipulation of these data structures is summarized in this section. The manipulation technics of the more complex data structure, <b>series, dataframe, and array</b> will be introduced in the subsequent sections!<br/><br/>
The data type of variables can be identified with <font color='red'><b>type</b></font> function, i.e. <font color='red'><b>type(variable)</b></font>. Take note that checking the data type of variables might be very helpful in debugging!

In [26]:
type('This is a string')

str

In [4]:
type([1, 2, 3])

list

## 1.1 Tuple (not frequently used)
1. Tuples are an immutable data structure. The elements in a tuple cannot be altered once it is declared. No element can be added to an existing tuple.<br/>
2. Tuples are declared by including the elements within <font color='red'><b>( )</b></font>.<br/>
3. Different types of data can be put in a tuple.<br/>
4. Element in a tuple can be accessed with index, i.e. <font color='red'><b>tuple(index)</b></font>. Index starts from 0.

E.g.1 Declare a tuple and access its 2nd element.

In [12]:
x = (1, 'a', 2, 'b')
x[1]

'a'

E.g.2 Unpack a tuple/list into different variables. Make sure the number of values to be unpacked matches the number of variables being assigned.

In [60]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
lname

'Brooks'

## 1.2 List
1. Lists are a mutable data structure. It is similar to the vector in R.
2. Lists are declared by including the elements within <font color='red'><b>[ ]</b></font>.<br/>
3. Different types of data can be put in a list.<br/>
4. Element in a list can be accessed with index, i.e. <font color='red'><b>list[index]</b></font>. Index starts from 0.<br/>
5. New element can be added to list with the <b>append</b> function, i.e. <font color='red'><b>list.append(new_element)</b></font>.<br/>
6. Multiple lists can be concatenated with <b>"+"</b> or <b>"`*`"</b> operator, i.e. <font color='red'><b>list1 + list2, list `*` n</b></font>.<br/>
7. The list elements can be viewed by <font color='red'><b>print(list)</b></font>.<br/>
8. The number of elements in a list can be obtained by <font color='red'><b>len(list)</b></font> function.<br/>
9. Existence of element in a list can be checked with <b>in</b> operator, i.e. <font color='red'><b>element in list</b></font>.

E.g.1 Declare a list, append element to list, and print the elements in list.

In [13]:
x = [1, 'a', 2, 'b']
y = [] # Declare an empty list
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

E.g.2 Loop through and print each item in the list.

In [16]:
for item in x:
    print(item)

1
a
2
b
3.3

E.g.3 Loop through each item using the indexing operator.

In [18]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

E.g.4 Concatenate lists with "+" operator.

In [20]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

E.g.5 Repeat lists "`*`" operator.

In [22]:
[1] * 3

[1, 1, 1]

E.g.6 Check existence of element in a list. A boolean result is returned.

In [24]:
1 in [1, 2, 3]

True

## 1.3 String (list with character elements)
String is considered as a special type of list with character elements. <b>All the list manipulation in Section 1.2 can be applied to strings. The following string slicing manipulations are also applicable to the normal lists.</b> Some string-specific technics include<br/>
1. Split a string with <b>split</b> function on specifc character into a list of substrings, i.e. <font color="red"><b>string.split("character")</b></font><br/>
2. Convert other data type to string by <font color="red"><b>str(variable)</b></font>.

E.g.1 Slice string with indexing operator, i.e. <font color="red"><b>string[starting index:stopping index]<b/><font/>

In [30]:
x = 'This is a string'
print(x[0]) # first character
print(x[0:1]) # first character, but we have explicitly set the end character
print(x[0:2]) # first two characters
print(x[-1]) # last character of the string
print(x[-4:-2]) # slice starting from the 4th element from the end and stopping before the 2nd element from the end
print(x[:3]) # slice from the beginning of the string and stopping before the 3rd element
print(x[3:]) # slice starting from the 3rd element of the string and going all the way to the end

T
T
Th
g
ri
Thi
s is a string

E.g.2 Concatenate strings with "+" or "`*`" operator, check existence of substring with the "in" operator.

In [35]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

E.g.3 Split string into a list of substrings on space or a specific letter.

In [42]:
namelist = 'Christopher Arthur Hansen Brooks'.split()
firstname = 'Christopher Arthur Hansen Brooks'.split('e')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split('e')[-1] # [-1] selects the last element of the list
print(namelist)
print(firstname)
print(lastname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
Christoph
n Brooks

E.g.4 Convert objects to strings before concatenating.

In [43]:
'Chris' + str(2)

'Chris2'

## 1.4 Dictionary
1. Dictionaries associate keys with values. They are declared by including the pairs of key and value within { }, i.e. <font color="red"><b>dict = {key1: value1, key2: value2}</b></font>.<br/>
2. Dictionary value can be accessed with a key, i.e. <font color="red"><b>dict[key1]</b></font>.<br/>
3. Dictionary can be extended by providing additional pairs of key and value, i.e. <font color="red"><b>dict[key3] = value3</b></font>.</br>
4. Dictionary keys, values, key-value pairs can be accessed by <font color="red"><b>dict.keys(), dict.values(), dict.items()</b></font> respectively.

E.g.1 Declare a dictionary for names and emails, access the email address with given game.

In [44]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

E.g.2 Extend the dictionary with additional pair of key and value.

In [56]:
x['Wang Shenghao'] = 'wangshenghao1993@gmail.com'
x

{'Bill Gates': 'billg@microsoft.com',
 'Christopher Brooks': 'brooksch@umich.edu',
 'Wang Shenghao': 'wangshenghao1993@gmail.com'}

E.g.3 Iterate over all of the names as keys, print each email values.

In [50]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

E.g.4 Iterate over all of the email values.

In [52]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

E.g.5 Iterate over all of the items (pairs of key and value)

In [57]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Wang Shenghao
wangshenghao1993@gmail.com

# II. Reading and Writing Data Files

In [ ]:
Data files with different formats can be imported to Python