# I. Basic Data Structures
The basic data structures in Python include <b>tuple, list, string, dictionary</b>. The manipulation of these data structures is summarized in this section. The manipulation technics of the more complex data structure, <b>series, dataframe, and array</b> will be introduced in the subsequent sections!<br/><br/>
The data type of variables can be identified with <font color='red'><b>type</b></font> function, i.e. <font color='red'><b>type(variable)</b></font>. Take note that checking the data type of variables might be very helpful in debugging!

In [26]:
type('This is a string')

str

In [4]:
type([1, 2, 3])

list

## 1.1 Tuple (not frequently used)
1. Tuples are an immutable data structure. The elements in a tuple cannot be altered once it is declared. No element can be added to an existing tuple.<br/>
2. Tuples are declared by including the elements within <font color='red'><b>( )</b></font>.<br/>
3. Different types of data can be put in a tuple.<br/>
4. Element in a tuple can be accessed with index, i.e. <font color='red'><b>tuple(index)</b></font>. Index starts from 0.

E.g.1 Declare a tuple and access its 2nd element.

In [12]:
x = (1, 'a', 2, 'b')
x[1]

'a'

E.g.2 Unpack a tuple/list into different variables. Make sure the number of values to be unpacked matches the number of variables being assigned.

In [60]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
lname

'Brooks'

## 1.2 List
1. Lists are a mutable data structure. It is similar to the vector in R.
2. Lists are declared by including the elements within <font color='red'><b>[ ]</b></font>.<br/>
3. Different types of data can be put in a list.<br/>
4. Element in a list can be accessed with index, i.e. <font color='red'><b>list[index]</b></font>. Index starts from 0.<br/>
5. New element can be added to list with the <b>append</b> function, i.e. <font color='red'><b>list.append(new_element)</b></font>.<br/>
6. Multiple lists can be concatenated with <b>"+"</b> or <b>"`*`"</b> operator, i.e. <font color='red'><b>list1 + list2, list `*` n</b></font>.<br/>
7. The list elements can be viewed by <font color='red'><b>print(list)</b></font>.<br/>
8. The number of elements in a list can be obtained by <font color='red'><b>len(list)</b></font> function.<br/>
9. Existence of element in a list can be checked with <b>in</b> operator, i.e. <font color='red'><b>element in list</b></font>.

E.g.1 Declare a list, append element to list, and print the elements in list.

In [13]:
x = [1, 'a', 2, 'b']
y = [] # Declare an empty list
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

E.g.2 Loop through and print each item in the list.

In [16]:
for item in x:
    print(item)

1
a
2
b
3.3

E.g.3 Loop through each item using the indexing operator.

In [18]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

E.g.4 Concatenate lists with "+" operator.

In [20]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

E.g.5 Repeat lists "`*`" operator.

In [22]:
[1] * 3

[1, 1, 1]

E.g.6 Check existence of element in a list. A boolean result is returned.

In [24]:
1 in [1, 2, 3]

True

## 1.3 String (list with character elements)
String is considered as a special type of list with character elements. <b>All the list manipulation in Section 1.2 can be applied to strings. The following string slicing manipulations are also applicable to the normal lists.</b> Some string-specific technics include<br/>
1. Split a string with <b>split</b> function on specifc character into a list of substrings, i.e. <font color="red"><b>string.split("character")</b></font><br/>
2. Convert other data type to string by <font color="red"><b>str(variable)</b></font>.

E.g.1 Slice string with indexing operator, i.e. <font color="red"><b>string[starting index:stopping index]<b/><font/>

In [30]:
x = 'This is a string'
print(x[0]) # first character
print(x[0:1]) # first character, but we have explicitly set the end character
print(x[0:2]) # first two characters
print(x[-1]) # last character of the string
print(x[-4:-2]) # slice starting from the 4th element from the end and stopping before the 2nd element from the end
print(x[:3]) # slice from the beginning of the string and stopping before the 3rd element
print(x[3:]) # slice starting from the 3rd element of the string and going all the way to the end

T
T
Th
g
ri
Thi
s is a string

E.g.2 Concatenate strings with "+" or "`*`" operator, check existence of substring with the "in" operator.

In [35]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

E.g.3 Split string into a list of substrings on space or a specific letter.

In [42]:
namelist = 'Christopher Arthur Hansen Brooks'.split()
firstname = 'Christopher Arthur Hansen Brooks'.split('e')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split('e')[-1] # [-1] selects the last element of the list
print(namelist)
print(firstname)
print(lastname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
Christoph
n Brooks

E.g.4 Convert objects to strings before concatenating.

In [43]:
'Chris' + str(2)

'Chris2'

## 1.4 Dictionary
1. Dictionaries associate keys with values. They are declared by including the pairs of key and value within { }, i.e. <font color="red"><b>dict = {key1: value1, key2: value2}</b></font>.<br/>
2. Dictionary value can be accessed with a key, i.e. <font color="red"><b>dict[key1]</b></font>.<br/>
3. Dictionary can be extended by providing additional pairs of key and value, i.e. <font color="red"><b>dict[key3] = value3</b></font>.</br>
4. Dictionary keys, values, key-value pairs can be accessed by <font color="red"><b>dict.keys(), dict.values(), dict.items()</b></font> respectively.

E.g.1 Declare a dictionary for names and emails, access the email address with given game.

In [44]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

E.g.2 Extend the dictionary with additional pair of key and value.

In [56]:
x['Wang Shenghao'] = 'wangshenghao1993@gmail.com'
x

{'Bill Gates': 'billg@microsoft.com',
 'Christopher Brooks': 'brooksch@umich.edu',
 'Wang Shenghao': 'wangshenghao1993@gmail.com'}

E.g.3 Iterate over all of the names as keys, print each email values.

In [50]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

E.g.4 Iterate over all of the email values.

In [52]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

E.g.5 Iterate over all of the items (pairs of key and value)

In [57]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Wang Shenghao
wangshenghao1993@gmail.com

# II. Reading and Writing Data Files

Data files with different formats can be imported and processed in Python. The common formats include .csv, .xls, .json, .txt. Pandas library is frequently used to load external data files. In addition, after the data is cleaned, it can also be exported in different formats for future use.

## 2.1 Import csv file as dataframe
In Python, CSV data can be imported as dataframe or a list of dictionary objects. In the most common case, csv files are read as dataframes with the help of <b>pd.read_csv()</b> function, i.e. <font color="red"><b>df = pd.read_csv('data.csv', skiprows = row # or a list of row #)</b></font>. Note that the <b>read_csv()</b> function can carry multiple parameters besides the file name. <b>skiprows</b> parameter is very useful when some redundant data exists in the CSV file.<br/>
<font color="red"><b>If skiprows = n, 1 to n rows of data will be ignored when data is loaded.<br/>
If skiprows = [row #], the rows of data in the list will be ignored.</b></font>

E.g Load "world_bank.csv" as a dataframe and skip the first four rows.

In [3]:
import pandas as pd

df = pd.read_csv('world_bank.csv', skiprows=4)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10

## 2.2 Import csv file as a list of dictionary objects
CSV file can also be imported as a list of dictionaries with the <b>DictReader</b> function in the csv library. The function is used in the following manner.
<font color="red"><b>with open('data.csv') as csvfile: dictlist = list(csv.DictReader(csvfile))</b></font>

E.g This example comes from the course material. Load the data from "mpg.csv" as a list of dictionaries, and display the first three dictionary objects.

In [4]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

## 2.3 Import xls file as dataframe
Similar to csv files, xls files can be imported with the <b>read_excel()</b> function from the Pandas library. <b>skiprows</b> and <b>skipfooter</b> parameters can be used to ignored the redundant rows of data. Note that it is the <b>no. of rows of data to be skipped at the bottom of the xls file</b> that needs to be assigned to the skipfooter parameter. Since a xls file may contain multiple spreadsheets, sheet name needs to be specified when there are multiple spreadsheets.<br/>
<font color="red"><b>df = pd.read_excel('data.xls', sheet_name = 'xxx', skiprows = n1, skipfooter = n2)</b></font>

E.g.1 Load the "Energy" spreadsheet in "Energy Indicators.xls". Skip the first 17 rows at the top and last 38 rows at the bottom of the xls file. Do open the file and carefully observe the format.

In [9]:
df = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skiprows=17, skipfooter=38)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

E.g.2 Load the only spreadsheet in "gdplev.xls", and skip the first 5 rows and the 7th, 8th row. Hint: create a list called "skip" to save the no. of rows to be ignored.

In [10]:
skip = [i for i in range(0, 5)] + [6, 7]
df = pd.read_excel("gdplev.xls", skiprows=skip)
df.head()

,Unnamed: 0,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,Unnamed: 3,Unnamed: 4,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1,Unnamed: 7
0,1929.0,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
1,1930.0,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
2,1931.0,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
3,1932.0,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
4,1933.0,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN

## 2.4 Import json file
Json files can be loaded as dataframes or lists of objects and converted to other formats of data based on needs.<br/>
Import json as dataframe: <font color="red"><b>df = pd.read_json('data.json')</b></font><br/>
Import json as list of objects: <font color="red"><b>jsonlist = json.loads(open('data.json').read())</b></font><br/>

E.g.1 Read 'crop_top3.json' as a list of objects, and display the list.

In [11]:
import json

jsonlist = json.loads(open('crop_top3.json').read())
jsonlist

[{'error': [],
  'method': 'image/recognize',
  'reqid': '709980431671578624',
  'result': [{'objects': [{'box': [400, 371, 819, 875],
      'tags': [{'score': 0.99, 'tag': 'top'}]},
     {'box': [306, 885, 880, 1499],
      'tags': [{'score': 0.77, 'tag': 'bottom'}]}],
    'tag_group': 'product_detection'}],
  'status': 'OK'},
 {'error': [],
  'method': 'image/recognize',
  'reqid': '709980434926358528',
  'result': [{'objects': [{'box': [123, 83, 251, 225],
      'tags': [{'score': 0.99, 'tag': 'top'}]},
     {'box': [116, 233, 270, 362], 'tags': [{'score': 0.68, 'tag': 'skirt'}]},
     {'box': [111, 108, 262, 326], 'tags': [{'score': 0.24, 'tag': 'other'}]}],
    'tag_group': 'product_detection'}],
  'status': 'OK'},
 {'error': [],
  'method': 'image/recognize',
  'reqid': '709980437405196288',
  'result': [{'objects': [{'box': [164, 54, 269, 179],
      'tags': [{'score': 0.99, 'tag': 'top'}]},
     {'box': [142, 168, 285, 369],
      'tags': [{'score': 0.78, 'tag': 'bottom'}]}],
    'tag_group': 'product_detection'}],
  'status': 'OK'}]

E.g.2 Read 'crop_top3.json' as a dataframe, and display the dataframe.

In [13]:
df = pd.read_json('crop_top3.json')
df

,error,method,reqid,result,status
0,[],image/recognize,709980431671578624,"[{'objects': [{'box': [400, 371, 819, 875], 't...",OK
1,[],image/recognize,709980434926358528,"[{'objects': [{'box': [123, 83, 251, 225], 'ta...",OK
2,[],image/recognize,709980437405196288,"[{'objects': [{'box': [164, 54, 269, 179], 'ta...",OK

## 2.5 Read txt files line by line as lists
Txt files can be read with the default <b>readlines()(</b> function after it is opened in Python environment. The txt data would be saved in a list, which can be further converted to dataframe by <b>splittng the data in each row and inserting into dataframe</b>.<br/>
Open the .txt file in Python: <font color="red"><b>f = open('data.txt', 'r')</b></font>;<br/>
Read the data line by line into a list: <font color="red"><b>txtlist = f.readlines()</b></font>;<br/>
Close the .txt file: <font color="red"><b>f = close()</b></font>

E.g. Load 'university_towns.txt' as a list, and convert it to a dataframe with two columns 'State' and 'RegionName'.

In [18]:
f = open('university_towns.txt', 'r')
utown_list = f.readlines()
f.close()

In [20]:
utown_list

['Alabama[edit]\n',
 'Auburn (Auburn University)[1]\n',
 'Florence (University of North Alabama)\n',
 'Jacksonville (Jacksonville State University)[2]\n',
 'Livingston (University of West Alabama)[2]\n',
 'Montevallo (University of Montevallo)[2]\n',
 'Troy (Troy University)[2]\n',
 'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n',
 'Tuskegee (Tuskegee University)[5]\n',
 'Alaska[edit]\n',
 'Fairbanks (University of Alaska Fairbanks)[2]\n',
 'Arizona[edit]\n',
 'Flagstaff (Northern Arizona University)[6]\n',
 'Tempe (Arizona State University)\n',
 'Tucson (University of Arizona)\n',
 'Arkansas[edit]\n',
 'Arkadelphia (Henderson State University, Ouachita Baptist University)[2]\n',
 'Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]\n',
 'Fayetteville (University of Arkansas)[7]\n',
 'Jonesboro (Arkansas State University)[8]\n',
 'Magnolia (Southern Arkansas University)[2]\n',
 'Monticello (University of Arkansas at Monticello)[2]\n',
 'Russellville (Arkansas Tech University)[2]\n',
 'Searcy (Harding University)[5]\n',
 'California[edit]\n',
 'Angwin (Pacific Union College)[2]\n',
 'Arcata (Humboldt State University)[5]\n',
 'Berkeley (University of California, Berkeley)[5]\n',
 'Chico (California State University, Chico)[2]\n',
 'Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]\n',
 'Cotati (California State University, Sonoma)[2]\n',
 'Davis (University of California, Davis)[1]\n',
 'Irvine (University of California, Irvine)\n',
 'Isla Vista (University of California, Santa Barbara)[2]\n',
 'University Park, Los Angeles (University of Southern California)\n',
 'Merced (University of California, Merced)\n',
 'Orange (Chapman University)\n',
 'Palo Alto (Stanford University)\n',
 'Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College\n',
 'Redlands (University of Redlands)\n',
 'Riverside (University of California, Riverside, California Baptist University, La Sierra University)\n',
 'Sacramento (California State University, Sacramento)\n',
 'University District, San Bernardino (California State University, San Bernardino, American Sports University)\n',
 'San Diego (University of California, San Diego, San Diego State University)\n',
 'San Luis Obispo (California Polytechnic State University)[2]\n',
 'Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]\n',
 'Santa Cruz (University of California, Santa Cruz)[2]\n',
 'Turlock (California State University, Stanislaus)\n',
 'Westwood, Los Angeles (University of California, Los Angeles)[2]\n',
 'Whittier (Whittier CollegeRio Hondo College)\n',
 'Colorado[edit]\n',
 'Alamosa (Adams State College)[2]\n',
 'Boulder (University of Colorado at Boulder)[12]\n',
 'Durango (Fort Lewis College)[2]\n',
 'Fort Collins (Colorado State University)[13]\n',
 'Golden (Colorado School of Mines)\n',
 'Grand Junction (Colorado Mesa University)\n',
 'Greeley (University of Northern Colorado)\n',
 'Gunnison (Western State College)[2]\n',
 'Pueblo, Colorado (Colorado State University-Pueblo)\n',
 'Connecticut[edit]\n',
 'Fairfield (Fairfield University, Sacred Heart University)\n',
 'Middletown (Wesleyan University)\n',
 'New Britain (Central Connecticut State University)\n',
 'New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]\n',
 'New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]\n',
 'Storrs (University of Connecticut)[2]\n',
 'Willimantic (Eastern Connecticut State University)[2]\n',
 'Delaware[edit]\n',
 'Dover (Delaware State University)[1]\n',
 'Newark (University of Delaware)[1]\n',
 'Florida[edit]\n',
 'Ave Maria (Ave Maria University)\n',
 'Boca Raton (Florida Atlantic University)\n',
 'Coral Gables (University of Miami)\n',
 'DeLand (Stetson University)[5]\n',
 'Estero (Florida Gulf Coast University)\n',
 'Gainesville (University of Florida, Santa Fe College)\n',
 'Orlando (University of Central Florida)\n',
 'Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)\n',
 'St. Augustine (Flagler College)\n',
 'St. Leo (St. Leo University)\n',
 'Tallahassee (Florida State University, Florida A&M University)\n',
 'Tampa (University of South Florida)\n',
 'Georgia[edit]\n',
 'Albany (Albany State University)\n',
 'Athens (University of Georgia)[15]\n',
 'Atlanta (Georgia State University, Georgia Tech, Emory)[2]\n',
 'Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]\n',
 'Demorest (Piedmont College)[2]\n',
 'Fort Valley (Fort Valley State University)[2]\n',
 'Kennesaw (Kennesaw State University)\n',
 'Milledgeville (Georgia College & State University)[2]\n',
 'Mount Vernon (Brewton-Parker College)[2]\n',
 'Oxford (Oxford College)\n',
 'Rome (Berry College, Shorter University)\n',
 'Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)\n',
 'Statesboro (Georgia Southern University)[5]\n',
 'Valdosta (Valdosta State University)[2]\n',
 'Waleska (Reinhardt College)[2]\n',
 'Young Harris (Young Harris College)[2]\n',
 'Hawaii[edit]\n',
 'Manoa (University of Hawaii at Manoa)[2]\n',
 'Idaho[edit]\n',
 'Moscow (University of Idaho)[2]\n',
 'Pocatello (Idaho State University)[2]\n',
 'Rexburg (BYU-Idaho)[2]\n',
 'Illinois[edit]\n',
 'Carbondale (Southern Illinois University Carbondale)[5]\n',
 'Champaign–Urbana (University of Illinois at Urbana–Champaign)[5]\n',
 'Charleston (Eastern Illinois University)[2]\n',
 'DeKalb (Northern Illinois University)[2]\n',
 'Edwardsville (Southern Illinois University Edwardsville)[2]\n',
 'Evanston (Northwestern University)[2]\n',
 'Lebanon (McKendree University)[2]\n',
 'Macomb (Western Illinois University)[2]\n',
 'Normal (Illinois State University)[2]\n',
 'Peoria (Bradley University)\n',
 'Indiana[edit]\n',
 'Bloomington (Indiana University Bloomington)[5]\n',
 'Crawfordsville (Wabash College)\n',
 'Greencastle (DePauw University)[5]\n',
 'Hanover (Hanover College)[2]\n',
 'Marion (Indiana Wesleyan University)[2]\n',
 'Muncie (Ball State University)[2]\n',
 'Oakland City (Oakland City University)[2]\n',
 'Richmond (Earlham College)[2]\n',
 'South Bend (Notre Dame University[2])\n',
 'Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]\n',
 'Upland (Taylor University)[2]\n',
 'Valparaiso (Valparaiso University)\n',
 'West Lafayette (Purdue University)[2]\n',
 'Iowa[edit]\n',
 'Ames (Iowa State University)[2]\n',
 'Cedar Falls (University of Northern Iowa)[2]\n',
 'Cedar Rapids, Iowa (Coe College )\n',
 'Decorah (Luther College)[5]\n',
 'Fayette (Upper Iowa University)[2]\n',
 'Grinnell (Grinnell College)[15]\n',
 'Iowa City (University of Iowa)[15]\n',
 'Lamoni (Graceland University)[2]\n',
 'Mount Vernon, (Cornell College)\n',
 'Orange City (Northwestern College)[2]\n',
 'Sioux Center (Dordt College)[2]\n',
 'Storm Lake (Buena Vista University)[2]\n',
 'Waverly (Wartburg College)[2]\n',
 'Kansas[edit]\n',
 'Baldwin City (Baker University)[5]\n',
 'Emporia (Emporia State University)[2]\n',
 'Hays (Fort Hays State University)[2]\n',
 'Lawrence (University of Kansas, Haskell Indian Nations University)[15]\n',
 'Manhattan (Kansas State University, Manhattan Christian College)[15]\n',
 'Pittsburg (Pittsburg State University)[2]\n',
 'Kentucky[edit]\n',
 'Bowling Green (Western Kentucky University)[2]\n',
 'Columbia (Lindsey Wilson College)[2]\n',
 'Georgetown (Georgetown College)\n',
 'Highland Heights (Northern Kentucky University)\n',
 'Lexington (University of Kentucky, Transylvania University[5]\n',
 'Louisville (University of Louisville)\n',
 'Morehead (Morehead State University)[2]\n',
 'Murray (Murray State University)[5]\n',
 'Richmond (Eastern Kentucky University)[2]\n',
 'Williamsburg (University of the Cumberlands)[2]\n',
 'Wilmore (Asbury University, Asbury Theological Seminary)[2]\n',
 'Louisiana[edit]\n',
 'Baton Rouge (Louisiana State University, Southern University)\n',
 'Grambling (Grambling State University)[5]\n',
 'Hammond (Southeastern Louisiana University)[2]\n',
 'Lafayette (University of Louisiana at Lafayette)\n',
 'Monroe (University of Louisiana at Monroe)[2]\n',
 'Natchitoches (Northwestern State University)[2]\n',
 'Ruston (Louisiana Tech University)[2]\n',
 'Thibodaux (Nicholls State University)[2]\n',
 'Maine[edit]\n',
 'Augusta (University of Maine at Augusta)[2]\n',
 'Bar Harbor (College of the Atlantic)\n',
 'Brunswick (Bowdoin College)\n',
 'Farmington (University of Maine at Farmington)[2]\n',
 'Fort Kent (University of Maine at Fort Kent)\n',
 'Gorham (University of Southern Maine)[2]\n',
 'Lewiston, Maine (Bates College)\n',
 'Orono (University of Maine)[2]\n',
 'Waterville (Thomas College, Colby College)\n',
 'Maryland[edit]\n',
 "Annapolis (United States Naval Academy, St. John's College)\n",
 'Chestertown (Washington College)[2]\n',
 'College Park (University of Maryland, College Park)[16]\n',
 'Cumberland (Allegany College of Maryland)\n',
 "Emmitsburg (Mount St. Mary's University)[2]\n",
 'Frostburg (Frostburg State University)[5]\n',
 'Princess Anne (University of Maryland Eastern Shore)[5]\n',
 'Towson (Towson University, Goucher College)[2]\n',
 'Salisbury (Salisbury University)[2]\n',
 'Westminster (McDaniel College)\n',
 'Massachusetts[edit]\n',
 'Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)\n',
 'Bridgewater (Bridgewater State College)[2]\n',
 'Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]\n',
 'Chestnut Hill (Boston College)\n',
 'The Colleges of Worcester Consortium:\n',
 'Dudley (Nichols College)\n',
 'North Grafton (Cummings School of Veterinary Medicine at Tufts University)\n',
 'Paxton (Anna Maria College)\n',
 'Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)\n',
 'The Five College Region of Western Massachusetts:\n',
 'Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]\n',
 'Northampton (Smith College)\n',
 'South Hadley (Mount Holyoke College)\n',
 'Fitchburg (Fitchburg State College)\n',
 'North Adams (Massachusetts College of Liberal Arts)\n',
 'Springfield (American International College), (Springfield College), and (Western New England College)\n',
 'Waltham (Bentley University), (Brandeis University)\n',
 'Williamstown (Williams College)\n',
 'Framingham (Framingham State University)\n',
 'Michigan[edit]\n',
 'Adrian (Adrian College, Siena Heights University)\n',
 'Albion (Albion College)[17]\n',
 'Allendale (Grand Valley State University)\n',
 'Alma (Alma College)\n',
 'Ann Arbor (University of Michigan)[1]\n',
 'Berrien Springs (Andrews University)[2]\n',
 'Big Rapids (Ferris State University)[2]\n',
 'East Lansing (Michigan State University)[2]\n',
 'Flint (Kettering University, University of Michigan-Flint)\n',
 'Hillsdale (Hillsdale College)\n',
 'Houghton (Michigan Technological University)[5]\n',
 'Kalamazoo (Western Michigan University, Kalamazoo College)[2]\n',
 'Marquette (Northern Michigan University)[2]\n',
 'Midland (Northwood University)\n',
 'Mount Pleasant (Central Michigan University)[2]\n',
 'Olivet (Olivet College)[2]\n',
 'Saginaw (Saginaw Valley State University)\n',
 'Sault Ste. Marie (Lake Superior State University)\n',
 'Spring Arbor (Spring Arbor University)[2]\n',
 'Ypsilanti (Eastern Michigan University)[2]\n',
 'Minnesota[edit]\n',
 'Bemidji (Bemidji State University)[2]\n',
 'Crookston (University of Minnesota Crookston)[2]\n',
 'Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University\n',
 'Faribault, South Central College\n',
 'Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College\n',
 'Marshall (Southwest Minnesota State University)[2]\n',
 'Moorhead (Minnesota State University, Moorhead, Concordia College)[18]\n',
 'Morris (University of Minnesota Morris)[2]\n',
 'Northfield (Carleton College, St. Olaf College)[5]\n',
 'North Mankato, South Central College\n',
 'St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]\n',
 'St. Joseph (College of Saint Benedict)[2]\n',
 'St. Peter (Gustavus Adolphus College)[2]\n',
 "Winona (Winona State University, St. Mary's University of Minnesota)[19]\n",
 'Mississippi[edit]\n',
 'Cleveland (Delta State University)[2]\n',
 'Hattiesburg (University of Southern Mississippi)[20]\n',
 'Itta Bena (Mississippi Valley State University)[2]\n',
 'Oxford (University of Mississippi)[2]\n',
 'Starkville (Mississippi State University)[2]\n',
 'Missouri[edit]\n',
 'Bolivar (Southwest Baptist University)[2]\n',
 'Cape Girardeau (Southeast Missouri State University)[2]\n',
 'Columbia (University of Missouri, Stephens College, Columbia College)[20]\n',
 'Fayette (Central Methodist University)[2]\n',
 'Fulton (Westminster College and William Woods University).\n',
 'Kirksville (Truman State University, A. T. Still University)[2]\n',
 'Maryville (Northwest Missouri State University)[2]\n',
 'Rolla (Missouri University of Science and Technology)[2]\n',
 'Warrensburg (University of Central Missouri)[5]\n',
 'Montana[edit]\n',
 'Bozeman (Montana State University)[2]\n',
 'Dillon (University of Montana Western)[2]\n',
 'Missoula (University of Montana)[5]\n',
 'Nebraska[edit]\n',
 'Chadron (Chadron State College)[5]\n',
 'Crete (Doane College)[2]\n',
 'Kearney (University of Nebraska at Kearney)[2]\n',
 'Lincoln (University of Nebraska at Lincoln)[5]\n',
 'Peru (Peru State College)[2]\n',
 'Seward (Concordia University)[2]\n',
 'Wayne (Wayne State College)[2]\n',
 'Nevada[edit]\n',
 'Las Vegas (University of Nevada, Las Vegas)\n',
 'Reno (University of Nevada, Reno)\n',
 'New Hampshire[edit]\n',
 'New London, New Hampshire (Colby-Sawyer College)\n',
 'Durham (University of New Hampshire)[2]\n',
 'Hanover (Dartmouth College)[5]\n',
 'Henniker (New England College)\n',
 'Keene (Keene State College)[2]\n',
 'Plymouth (Plymouth State University)[2]\n',
 'Rindge (Franklin Pierce University)\n',
 'New Jersey[edit]\n',
 'Ewing (The College of New Jersey), (Rider University)\n',
 "Jersey City (New Jersey City University), (Saint Peter's University)\n",
 'Glassboro (Rowan University)[2]\n',
 'Hoboken (Stevens Institute of Technology)\n',
 'Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)\n',
 'Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)\n',
 'New Brunswick (Rutgers University)[5]\n',
 'Princeton (Princeton University)[5]\n',
 'Union (Kean University)\n',
 'West Long Branch (Monmouth University)\n',
 'New Mexico[edit]\n',
 'Hobbs (University of the Southwest)[2]\n',
 'Las Cruces (New Mexico State University)[2]\n',
 'Las Vegas (New Mexico Highlands University)[2]\n',
 'Portales (Eastern New Mexico University)[2]\n',
 'Silver City (Western New Mexico University)[2]\n',
 'New York[edit]\n',
 'Alfred (Alfred University, Alfred State College)[2]\n',
 'Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)\n',
 'Aurora (Wells College)[21]\n',
 'Binghamton (Binghamton University)[2]\n',
 'Brockport (SUNY Brockport)[5]\n',
 'Buffalo (University at Buffalo)\n',
 'Canton (St. Lawrence University, SUNY Canton)[2]\n',
 'Clinton (Hamilton College)[2]\n',
 'Cobleskill (SUNY Cobleskill)[2]\n',
 'Delhi (SUNY Delhi)[2]\n',
 'Fredonia (SUNY Fredonia)[2]\n',
 'Geneseo (SUNY Geneseo)[2]\n',
 'Geneva (Hobart and William Smith Colleges)\n',
 'Hamilton (Colgate University)[2]\n',
 'Ithaca (Cornell University, Ithaca College)[1]\n',
 'Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)\n',
 'New Paltz (SUNY New Paltz)[2]\n',
 'Oneonta (SUNY Oneonta, Hartwick College)[2]\n',
 'Oswego (SUNY Oswego)[2]\n',
 'Plattsburgh (SUNY Plattsburgh)[2]\n',
 'Potsdam (SUNY Potsdam, Clarkson University)[2]\n',
 'Poughkeepsie (Vassar College, Marist College)[2]\n',
 'Purchase (Purchase College, Manhattanville College)[2]\n',
 'Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]\n',
 'Saratoga Springs (Skidmore College)[2]\n',
 'Seneca Falls (New York Chiropractic College)\n',
 'Stony Brook (Stony Brook University)\n',
 'Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)\n',
 'Tivoli (Bard College)\n',
 'Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)\n',
 'West Point (United States Military Academy)\n',
 'North Carolina[edit]\n',
 'Banner Elk (Lees-McRae College)\n',
 'Boiling Springs (Gardner-Webb University)[2]\n',
 'Boone (Appalachian State University)[2]\n',
 'Buies Creek (Campbell University)[2]\n',
 'Chapel Hill (University of North Carolina at Chapel Hill)[20]\n',
 'Cullowhee (Western Carolina University)[2]\n',
 'Davidson (Davidson College)[5]\n',
 'Durham (Duke University, North Carolina Central University)[5]\n',
 'Elon (Elon University)[2]\n',
 'Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)\n',
 'Greenville (East Carolina University)[2]\n',
 'Hickory (Lenoir-Rhyne University)[2]\n',
 'Mars Hill (Mars Hill College)[2]\n',
 'Mount Olive (Mount Olive College)[2]\n',
 'Pembroke (University of North Carolina at Pembroke)[2]\n',
 'Wilmington, North Carolina (University of North Carolina at Wilmington)\n',
 'Wingate (Wingate University)[2]\n',
 'Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)\n',
 'North Dakota[edit]\n',
 'Fargo (North Dakota State University)[18]\n',
 'Grand Forks (University of North Dakota)[5]\n',
 'Ohio[edit]\n',
 'Ada (Ohio Northern University)[2]\n',
 'Alliance (University of Mount Union)\n',
 'Ashland (Ashland University)[2]\n',
 'Athens (Ohio University)[2]\n',
 'Berea (Baldwin Wallace College)\n',
 'Bluffton (Bluffton University)[2]\n',
 'Bowling Green (Bowling Green State University)[2]\n',
 'Cedarville (Cedarville University)[2]\n',
 'Columbus (Ohio State University)\n',
 'Delaware (Ohio Wesleyan University)\n',
 'Fairborn (Wright State University)\n',
 'Findlay (University of Findlay)\n',
 'Gambier (Kenyon College)[2]\n',
 'Granville (Denison University)[2]\n',
 'Hiram (Hiram College)[2]\n',
 'Kent (Kent State University)[2]\n',
 'Nelsonville (Hocking College)[2]\n',
 'New Concord (Muskingum College)[2]\n',
 'Oberlin (Oberlin College)[5]\n',
 'Oxford (Miami University)[5]\n',
 'Rio Grande (University of Rio Grande)[2]\n',
 'Wilberforce (Wilberforce University, Central State University)[2]\n',
 'Oklahoma[edit]\n',
 'Ada (East Central University)[2]\n',
 'Alva (Northwestern Oklahoma State University)[2]\n',
 'Durant (Southeastern Oklahoma State University)[2]\n',

In [23]:
uni_towns_df = pd.DataFrame(columns=["State", "RegionName"])
for item in utown_list:
    if '[edit]' in item:
        state = item.split('[')[0] # For "State", removing characters from "[" to the end.
    else:
        # For "RegionName", when applicable, removing every character from " (" to the end.
        region = item[0:(item.find('(')-1)]
        new_region = pd.DataFrame([[state, region]], columns=['State', 'RegionName'])
        uni_towns_df = uni_towns_df.append(new_region, ignore_index=True)

uni_towns_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

## 2.6 Write dataframe into csv file
Dataframes can be written into csv files with the <b>to_csv</b> function. Set <b>index</b> parameter to False to exclude the index column in the output csv file.<br/>
<font color="red"><b>df.to_csv('output.csv', index=False)</b></font>

E.g. Export the dataframe of the university towns into 'utown.csv' without index.

In [24]:
uni_towns_df.to_csv('utown.csv', index=False)